name: Procesar Sitemap Específico

on:
  workflow_dispatch:
    inputs:
      sitemap_url:
        description: 'URL del Sitemap XML a procesar (Ej: https://missav.ws/sitemap_items_475.xml)'
        required: true
        default: 'https://missav.ws/sitemap_items_477.xml'

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write 

    steps:
    - name: Checkout del código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Instalar dependencias
      run: |
        pip install requests beautifulsoup4 lxml

    - name: Ejecutar Scraper
      env:
        TARGET_SITEMAP: ${{ github.event.inputs.sitemap_url }}
      run: python scraper.py

    - name: Guardar cambios
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "Agregados videos de ${{ github.event.inputs.sitemap_url }}"
        file_pattern: "*.m3u"
